body {
    padding: 0;
    margin: 0;
    background-image: url("backwal.jpg");
    background: radial-gradient(circle, black, black);
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    margin: auto;
    -webkit-box-shadow:0px 0px 34px 10px #000000 inset;
    -moz-box-shadow:0px 0px 34px 10px #000000 inset;
    box-shadow:0px 0px 34px 10px #000000 inset;
}

.topproject {
    margin: 0;
    padding: 0;
    background-color: white;
    /* color: black; */
    /* text-align: center; */
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    background-image: url("synthMan.jpg");
    min-height: 35rem;
    background-size: cover;
    background-color: black;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    letter-spacing: 0.3rem;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: black;
    list-style: none;
    
}

li a {
    display: block;
    background-color: black;
    text-decoration: none;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

li a:hover {
    background: radial-gradient(circle, rgb(108, 5, 168), black);
    color: white;
}

.navone, .navtwo, .navthree {
    background: radial-gradient(circle, purple  , black);
    color: skyblue;
    font-family: Verdana;
    font-weight: bold;
}

.slideDown {
  width:100%;
  overflow:hidden;
  height: 200px;
}

/* @import url('https://fonts.googleapis.com/css?family=Mr+Dafoe&display=swap'); */

.slideDown .topText {
  animation: 2s slide-down;
  margin-top: 0%;
  
  position: absolute;
  font-family: 'Mr Dafoe', cursive;
  font-size: 90px;
  color: #F975F7 ;
  transform:rotate(-15deg);
  -ms-transform:rotate(-15deg); /* IE 9 */
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  -webkit-text-stroke: 1px #f008b7;
  filter: drop-shadow(2px 2px 20px #f008b7);
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  padding-right: 20rem;
}

@keyframes slide-down {
  from {
    margin-top: -30%;
    height: 300%; 
  }

  to {
    margin-top: 0;
    padding-right: 20rem;
    height: 9rem;
  }
}
.windows .dreams {
    -webkit-text-stroke: 4px #f008b7;
  }
  
.maincontent {
    border: 0.2rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videoPlayer{
    width: 100%;
    margin: 0;
    
}

.maincontent h1 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    line-height: 1.6;
    font-family: Verdana;
    font-style: italic;
}

h2 {
    text-align: left;
    padding-left: 2rem;
}

h3 {
    text-align: left;
    padding-left: 2rem;
}

p {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    /* font-family: sans-serif; */
 } 

.pone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.sandinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    line-height: 1.6;
}

.sandy {
    justify-content: center;
    width: 50%;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    float: none;
    padding-top: 2rem;
}

.contactus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3rem;
    width: 50%;
    padding-left: 3rem;
}

.conphone {
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    float: none;
    max-height: 7rem;
}

.contactus p {
    float: center;
    line-height: 1.6;
}

footer {
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    text-align: center;
    height: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle, rgb(135, 5, 168), black);
}

#sendtop {
   padding: 0;
   margin: 0;
}

.deco {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


@media only screen and (min-device-width: 1224px) {

    .wrapper {
        width: 60vw;
        min-width: 700px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    li {
        width: 100%;
    }

    p {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    h2 {
        padding-left: 3rem;
    }

    h3 {
        padding-left: 3rem;
    }

    .sandinfo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        font-weight: bold;
        font-style: italic;
        line-height: 1.6;
    }
    
    .sandy {
        justify-content: center;
        width: 50%;
        padding: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1rem;
        padding-right: 3rem;
        float: left;
        max-height: 18rem;
    }

    .conphone {
        max-height: 12rem;
    }
}
